<div></div>
<div class="relative md:container mx-auto min-h-[50%] max-h-screen mt-8 p-10 md:px-10 bg-alice-blue flex flex-col items-center">
  <div class="">
    <p class="mx-auto text-2xl text-center px-20 py-3 bg-caribbean-current text-white rounded-lg">Saved Recipes</p>
  </div>

  <mat-accordion class="w-[100%] mt-7">
    <mat-expansion-panel class="w-[100%] h-18 mx-3" *ngFor="let recipe of favList">
      <mat-expansion-panel-header class="m-3" (click)="loadContent(recipe.uri!)">
        <mat-panel-title class="md:text-lg text-sm"
          ><button>
            <mat-icon
              (click)="toggleFav(recipe)"
              matTooltip="{{ favIconList[recipe!.uri!] ? 'Remove from Saved Recipe' : 'Save Recipe' }}"
              class="text-black z-10 mx-3"
              >{{ favIconList[recipe!.uri!] ? "favorite" : "favorite_outline" }}</mat-icon
            ></button
          >{{ recipe.label }}</mat-panel-title
        >
        <mat-panel-description class="truncate"
          ><span *ngFor="let ingredient of recipe.ingredients">{{ ingredient.food + ",&nbsp;" }}</span></mat-panel-description
        >
      </mat-expansion-panel-header>
      <div class="grid lg:grid-cols-2 justify-center relative">
        <div class="mx-auto justify-center">
          <img class="p-5 lg:h-[30vh] max-h-[500px] aspect-auto" src="{{ recipe?.images?.LARGE?.url || recipe?.images?.REGULAR?.url }}" />
        </div>
        <div class="mt-5 ml-5">
          <h1 class="font-extrabold">Ingredients:</h1>
          <p *ngFor="let ingredient of recipe?.ingredients">{{ ingredient?.text }}</p>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="absolute top-1/2" *ngIf="loadingState">
    <mat-spinner class="absolute z-10"></mat-spinner>
  </div>
</div>

<div class="flex justify-center">
  <button routerLink="home" class="button mt-8 rounded bg-atomic-tangerine text-white p-2 text-lg">Back to Fridge</button>
</div>
