<div>
  <div mat-dialog-title>
    <div class="grid md:text-4xl text-lg font-extrabold md:ml-8">
      <p class="ml-5 mb-3">
        <button class="items-center" matTooltip="{{ favIcon ? 'Remove from Saved Recipe' : 'Save Recipe' }}">
          <mat-icon class="z-10 text-lg" (click)="toggleFav(recipe?.uri || '')">{{ favIcon ? "favorite" : "favorite_outline" }}</mat-icon>
        </button>
        {{ recipe?.label }}
      </p>
      <span
        ><button class="button text-base ml-3 font-lightrounded bg-atomic-tangerine text-white p-1 rounded-md" *ngFor="let type of recipe?.mealType">
          {{ type }}
        </button>
        <button class="button ml-3 text-base font-lightrounded bg-atomic-tangerine text-white p-1 rounded-md" *ngFor="let type of recipe?.dishType">
          {{ type }}
        </button>
        <button
          class="button ml-3 text-base font-lightrounded bg-atomic-tangerine text-white p-1 rounded-md"
          *ngFor="let type of recipe?.cuisineType"
        >
          {{ type }}
        </button></span
      >
    </div>
  </div>
  <div mat-dialog-content>
    <div class="grid lg:grid-cols-2">
      <div class="mx-auto justify-center items-center">
        <img class="p-5" src="{{ recipe?.images?.LARGE?.url || recipe?.images?.REGULAR?.url }}" />
      </div>
      <div class="mt-5 ml-5">
        <h1 class="font-extrabold">Ingredients:</h1>
        <p *ngFor="let ingredient of recipe?.ingredients">{{ingredient?.text}}</p>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Back</button>
    <a href="{{ recipe?.url }}" target="_blank" mat-button cdkFocusInitial>Go to Recipe</a>
  </mat-dialog-actions>
</div>
