.mat-card-container {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.mat-card {
  background-color: rgba(10, 10, 10, 0.4);
}
